.header{
    background-color: #B472F4;
    height: 95vh;
    color: #F4F552;

    .bg-color{
        background-color: #171717;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
       
    }
   
}